<html>

<head>

<!-- REQUIRED MEGA TAGS -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- TITLE WITH ICONS -->
<title>Colors, Pics, Forms and Data</title>
<link rel="shortcut icon" type="image/jpg" href="img/funny-face.jpg"/>

<!-- LINKS TO BOOTSTRAP, FIREBASE FILES AND PROPRIETARY STYLE SHEET -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://www.gstatic.com/firebasejs/4.10.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.10.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.10.1/firebase-database.js"></script>
<link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>

<!-- SOME DIVS WITH CHANGING BACKGROUNDS -->
<div class="container-fluid header">
    <h1 onmouseover="changeBgClr(this, 0)" onmouseout="changeBgClr(this, 1)">Je bent hier</h1>
</div>

<div class="container-fluid header">
    <h1 onmouseover="changeBgImg(this, 'img/rainbow-banner.png'); fontClr(this, 2)" onmouseout="changeBgImg(this, ''); fontClr(this, 3)">En nu hier</h1>
</div>

<!-- AN ALERT BOX WITH BUTTON AND CHANGING TEXT -->
<button class="btn btn-warning mb-2" onclick="changeTxt()">Submit</button>
<div class="alert alert-success" role="alert" id="change-txt">Salve</div>

<!-- A FORM CONNECTED TO FIREBASE -->
<form class=form-inline>
  <label class="sr-only" for="inlineName">User</label>
  <input type="text" class="form-control mb-2 mr-sm-2" id="inlineName" placeholder="user">
  
  <label class="sr-only" for="inlineDomain">Domain</label>
  <div class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">
      <div class="input-group-text">@</div>
    </div>
    <input type="text" class="form-control" id="inlineDomain" placeholder="Domain">
  </div>
  <button type="submit" class="btn btn-primary mb-2" onclick="writeNewUser()">Submit</button>
</form>


<!-- LINKS TO JAVASCRIPT FILES FOR FIREBASE, BOOTSTRAP SUPPORT FILES AND PROPRIETARY CODE -->
<script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="main.js"></script>

</body>
</html>
