<!DOCTYPE html>
<html>
<head>
<style type="text/css">

</style>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Conclusie marktonderzoek</title>
	
	<!-- Bootstrap Core CSS -->
	<!--<link href="css/bootstrap.min.css" rel="stylesheet"> -->
	
	
	<!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.min.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	
	<!-- Logo webpagina -->
	<link rel="icon" type="image/png" href="assets/img/BioCentre_logo.png">

<!--	<link rel="icon" type="image/x-icon" href="assets/img/favicon.png"> -->
	<meta name="author" content="Kris Andrada Pereira en Luuk Geurts">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body class="aconclusie_marktonderzoek">
		<!-- Navbar -->
		<a id="ddmenuLink" href="menuBar.html"> Menu </a>
		
		
		<!-- Content -->
		<div class="verslag">
		  <h2 class="title is-2"> Conclusie marktonderzoek</h2>
		    <b><i>Well plates <a href=Resultaten_enquete#Type_of_well_plates target="_blank">(grafiek)</a>:</i></b><br>
<p>De meest gebruikte well plate is de single petri dish. Van de 33 respondenten, hebben 31 aangegeven dat ze hiermee te werk gaan, van studenten tot PI's. Daarnaast verschillen de antwoorden ook niet door het land van herkomst, zowel in Nederland, Engeland als Duitsland is de single petri dish de populairste soort well plate. Op de tweede plaats staat, met 9 antwoorden, een well plate met 24 putjes. Dit laat dus zien dat single petri dishes verreweg de populairste zijn. </p>

<p>Opmerkelijk is dat grotere well plates niet door studenten gebruikt worden. Studenten gebruiken met name well plates met minder dan 12 putjes, terwijl verschillende PhD studenten naast de single petri dish hebben aangegeven ook well plates met 24 putjes te moeten gebruiken. </p><br><br>

        <b><i>Prijs <a href=Resultaten_enquete#Budget_for_device target="_blank">(grafiek)</a>:</i></b><br>
<p>Een overgrote deel van de respondenten hebben aangegeven het budget noch een comfortabele prijs te willen geven. De redenen hierachter zijn echter niet bekend. Het zou kunnen zijn dat de respondenten het niet weten, maar ook dat ze zulke informatie daadwerkelijk niet vrij willen geven. Voor de vraag over het budget, lijkt dit de tweede te kunnen zijn. Iedereen die met <i>'I would rather not say'</i> geantwoord heeft, heeft de bevoegdheid niet om de <i> HTSS</i> of soortgelijke apparaten aan te mogen schaffen. Dit verklaart echter niet waarom het merendeels van de respondenten daarnaast ook geen prijs hebben aangegeven dat ze bereid zouden zijn om te betalen. </p><br>

<p>Twee respondenten hebben aangegeven dat ze de <i>'Decision Makers'</i> zijn binnen hun afdeling. Ze zijn van twee verschillende universiteiten in Duitsland. Zij hebben aangegeven dat ze tussen de ???1000 en ???2000 aan budget voor het apparaat over hebben. Ze zouden daarnaast ook niet meer dan ???2000 voor willen betalen. </p><br>

<p>Uit de groep respondenten die geen decision makers zijn, is het volgende te concluderen. Een even aantal respondenten wilt tussen de  ???500-???1000 en ???1000-???2000 voor het apparaat betalen, namelijk 5. Dit wordt gevolgd door het prijs categorie ???2000-???5000 of meer, met 3 respondenten. </p><br>

<p>Over het algemeen kan gezien worden dat studenten meer uiteenlopende antwoorden hebben dan andere respondenten in hoeveel zij bereid zijn om te willen betalen. PhD studenten zijn gelijk verdeeld tussen de prijscategorieën ???500-???1000 en ???1000-???2000. Stagiairs: ???0-???500. De twee PI's samen met een postdoctoral researcher zijn bereid om tussen de  ???1000-???2000 te willen betalen. </p><br>

<p>Biologen ,vergeleken met andere studies, zijn over het algemeen bereid om wat hogere bedragen uit te geven, namelijk tussen de ???1000-???2000. Dit staat los van hun rol binnen hun afdeling. De verschillen zijn echter niet significant genoeg om hiervan harde conclusies te mogen trekken. Er is daarnaast geen concrete verschillen te zien in de antwoorden tussen de verschillende landen.</p><br><br>
        
        
        
        <b><i>Purpose of device <a href=Resultaten_enquete#Use_case target="_blank">(grafiek)</a>:</i></b><br>
<p>De enquête is voornamelijk door academici ingevuld. Dit is ook te zien aan de vraag <i>What would be the purpose of such a device?</i>. Alle respondenten hebben aangegeven dat ze het voor academische onderzoek zullen gebruiken. Daarnaast heeft 1 op de 3 aangegeven dat studenten het apparaat kunnen gebruiken voor hun eigen experimenten. Deze antwoorden verschillen niet per rol, afdeling of land. </p><br><br>

        <b><i>Features <a href=Resultaten_enquete#Features target="_blank">(grafiek)</a>:</i></b><br>

<table>
  <tr>
    <th></th>
    <th>Students (14 totaal, 14 willen machine)</th>
    <th>PhD, PI, Researcher   (15 totaal, 12 willen<br>machine)</th>
    <th>Technican (3 totaal, 1 wil machine)<br></th>
    <th>Totaal<br></th>
  </tr>
  <tr>
    <td><b>Stage identification</b></td>
    <td>12</td>
    <td>9</td>
    <td>1</td>
    <td>81%</td>
  </tr>
  <tr>
    <td><b>Live tracking</b></td>
    <td>11</td>
    <td>9</td>
    <td>1</td>
    <td>74%</td>
  </tr>
  <tr>
    <td><b>Fluorescent markers</b></td>
    <td>10</td>
    <td>12</td>
    <td>1</td>
    <td>85%</td>
  </tr>
  <tr>
    <td><b>Temperature controlled environment</b></td>
    <td>7</td>
    <td>9</td>
    <td>1</td>
    <td>65%</td>
  </tr>
  <tr>
    <td><b>Automated plate loading system</b></td>
    <td>7</td>
    <td>9</td>
    <td>0</td>
    <td>59%</td>
  </tr>
  <tr>
    <td><b>Movement defects</b></td>
    <td>5</td>
    <td>8</td>
    <td>1</td>
    <td>52%</td>
  </tr>
  <tr>
    <td><b>Plate oscillation</b></td>
    <td>3</td>
    <td>0</td>
    <td>1</td>
    <td>15%</td>
  </tr>
  <tr>
    <td><b>Standalone</b></td>
    <td>1</td>
    <td>1</td>
    <td>0</td>
    <td>7%</td>
  </tr>
</table>

<p>De meest populaire features die studenten graag zouden zien zijn, stage identification (85%), Live tracking (80%) en Fluorescent markers (70%). Bij de Phd's, PI's en researchers zijn dit respectievelijk, 75% voor stage identification, 75% voor live tracking en 100% voor fluorescent markers. Uit deze cijfers blijkt dat studenten het gebruik kunnen maken van fluorescent markers minder belangrijk vinden als de andere ondervraagden. Omdat er maar 1 lab technician is die het apparaat wilt kunnen we niet iets zeggen over welke features zij graag zouden willen zien. Verder blijkt dat studenten en de andere ondervraagden dezelfde features belangrijk vinden. </p><br>

<p>Van de 3 meest gewilde features zijn er 2 softwarematig, deze zouden dus later toegevoegd kunnen worden. Om de mogelijkheid te hebben om met fluorescent markers te werken moet een camera met het juiste spectrum en het juiste filter ge&iuml;nstalleerd kunnen worden. Bij het ontwerpen van de machine is het dus van belang om er rekening mee te houden dat deze gemakkelijk verwisseld kunnen worden. Als dit geen mogelijkheid is dan kan dit ervoor zorgen dat een deel geen interesse meer heeft in dit apparaat. </p><br><br>

        <b><i>Surface area <a href=Resultaten_enquete#Maximum_surface_area target="_blank">(grafiek)</a>:</i></b><br>

<table>
  <tr>
    <th></th>
    <th>Students (14 totaal, 14 willen machine</th>
    <th>PhD, PI, Researcher   (15 totaal, 12 willen machine)</th>
    <th>Technician (3 totaal, 1 wil machine)</th>
    <th>Totaal</th>
  </tr>
  <tr>
    <td><b>Up to 0.25m²</b></td>
    <td>2</td>
    <td>0</td>
    <td>0</td>
    <td>7%</td>
  </tr>
  <tr>
    <td><b>Between 0.25m² and&nbsp;&nbsp;0.5m²</b></td>
    <td>6</td>
    <td>3</td>
    <td>0</td>
    <td>33%</td>
  </tr>
  <tr>
    <td><b>Between 0.50m² and 0.75m²</b></td>
    <td>4</td>
    <td>6</td>
    <td>0</td>
    <td>37%</td>
  </tr>
  <tr>
    <td><b>Between 0.75m²&nbsp;&nbsp;and 1m²</b></td>
    <td>1</td>
    <td>2</td>
    <td>1</td>
    <td>15%</td>
  </tr>
  <tr>
    <td><b>Does not matter</b></td>
    <td>1</td>
    <td>0</td>
    <td>0</td>
    <td>4%</td>
  </tr>
  <tr>
    <td><b>Don't know</b></td>
    <td>0</td>
    <td>1</td>
    <td>0</td>
    <td>4%</td>
  </tr>
</table>

<p>Uit de data blijkt dat studenten het apparaat graag kleiner zien als de overige respondenten. Echter is het verschil in maximaal formaat niet erg groot. Wanneer het apparaat maximaal 0.5m² is dan gaat 89% van de respondenten akkoord met het formaat van de machine. Als het apparaat iets groter wordt, verliest meteen 33% de interesse in het apparaat. Dit is een groot gedeelte van de ondervraagden en dus zal er geprobeerd moeten worden om het apparaat maximaal 0.5m² in beslag te laten nemen.</p><br><br>
        
        
        <b><i>Demand:</i></b><br> 		
<p>Als laatst wordt de momentele vraag in kaart gebracht. Dit wordt gedaan door naar de antwoord van de decision makers te kijken. Enkel 2 van de 6 heeft aangegeven daadwerkelijk geïnteresseerd te zijn in de <i>HTSS</i> of een soortgelijke apparaat. Uit de resultaten is echter ook gebleken dat 2 van de 4 die niet ge&iuml;tresseerd zijn in het apparaat niet dagelijks met <i> C. elegans</i> werken. Deze zullen dus ook minder behoefte hebben aan dit apparaat en daarom hebben ze er minder snel geld voor over.</p><br><br>

        
        <b><i>Conclusion:</i></b><br>
<p>De marktanalyse kan als volgt samengevat worden. Er is momenteel een grote vraag naar een apparaat die DART (development and reproduction toxicity) Assays kan automatiseren. 
Hierbij speelt de specifieke studie, rol binnen de afdelingen noch land een rol. 
De meningen van zowel studenten, technicians als PI's in alle drie de landen (Engeland, Nederland en Duitsland), komen in grote lijnen overeen. 
Zo komt de maximale oppervlakte grootte van tussen de 0.25m<sup>2</sup> en 0.75m<sup>2</sup> meerdere malen voor. De <i>HTSS</i> past hier goed in. </p><br>

<p> Een groot nadeel is echter wel dat de <i>HTSS</i> niet alle features heeft waar de markt momenteel behoefte naar heeft.
 Enkele van deze features zijn softwarematig op te lossen. Dit valt echter buiten het bereik van de HAN Elektro team.
 Daarnaast geldt dat een groot deel van de markt single petri dishes in hun experimenten gebruiken. Hiermee moet rekening gehouden worden bij het updaten van het apparaat. 
 Als laatst is van belang om naar de vraagprijs van het apparaat te kijken. De resultaten uit de enquête geven geen duidelijke richting aan. De antwoorden lopen uiteen van ???0 tot ???2000. 
 Hier moet gerichter onderzoek naar gedaan worden, om te weten of de kwaliteit, en dus ook prijs, van het apparaat verhoogd of verlaagd moet worden. <br><br>

<p>
Hier komt wel bij dat dit enquête en de daaruit voortvloeiende analyse niet representatief zijn voor het gehele markt. 
Dit heeft tot gevolg dat we geen harde conclusies kunnen noch mogen trekken. De resultaten van de enquête geven een beperkt beeld van de wensen en behoeften uit de gehele markt.
 Desondanks is de verkregen beeld wel nuttig en leerzaam. </p>
<br>
<p>
Extra verbeterpunten zijn <a href="Verbeterpunten_enquete">hier</a> opgesomd.
</p>

        
        <br><br>
		</div>


		<!-- JavaScript is required for the dropdown menu -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery -->
    <script src="js/ddmenu.js" type="text/javascript"></script>
    <script src="js/jquery.js"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="js/bootstrap.js"></script>
    <!-- Javascripts -->
		<script src="controller.js"></script>		
	</body>	
</html>

