<!DOCTYPE html>
<html>
<head>
<style type="text/css">
</style>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Resultaten enqu&#234;te</title>
	
	<!-- Bootstrap Core CSS -->
	<!--<link href="css/bootstrap.min.css" rel="stylesheet"> -->
	
	
	<!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.min.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	
	<!-- Logo webpagina -->
	<link rel="icon" type="image/png" href="assets/img/BioCentre_logo.png">

<!--	<link rel="icon" type="image/x-icon" href="assets/img/favicon.png"> -->
	<meta name="author" content="Kris Andrada Pereira en Luuk Geurts">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body class="aenquete">
		<!-- Navbar -->
		<a id="ddmenuLink" href="menuBar.html"> Menu </a>
		<!-- Button -->
		<button onclick="topFunction()" id="myBtn" title="Terug naar boven">Top</button>
	
		
		<!-- Content -->
		<br>
			<div class="row">
				<div class="column-4">
				<a href="#Company_name">Company name</a><br>
				<a href="#Response_per_country">Responses per country</a><br>
				<a href="#Type_of_institution">Type of institution</a><br>
				<a href="#Area_of_research">Area of research</a><br>
				</div>
				<div class="column-4">
				<a href="#Role_or_position">What is your role or position?</a><br>
				<a href="#Decision_maker">Are you the decision maker?</a><br>
				<a href="#Actively_work_with">Do you actively work with <i>C. elegans</i>?</a><br>
				<a href="#How_often_do_you_work_with">How often do you work with <i>C. elegans</i>?</a><br>
				</div>
				<div class="column-4">
				<a href="#Currently_counted">How are the <i>C. elegans</i> currently being counted?</a><br>
				<a href="#Type_of_well_plates">What type of well plates do you use?</a><br>
				<a href="#Would_you_like_an_automated_DART_device">Would you like an automated development and reproduction analysis device?</a><br>
				<a href="#Budget_for_device">What is your budget for such a device?</a><br>
				</div>
				<div class="column-4">
				<a href="#Comfortable_paying">What would you feel comfortable paying for such a device?</a><br>	
				<a href="#Maximum_surface_area">What is the maximum allowed surface area?</a><br>
				<a href="#Use_case">Use case</a><br>
				<a href="#Features">What features would you like to see?</a><br>
				</div>
			</div>
<br>
	<div class="verslag">
<br>
	<h3 class="title is-3"> Resultaten Enqu&#234;te </h3>
<br><br>
	</div>
		<div class="extra_body">
		<div id="Company_name" class="enquete_charts"> <iframe width="100%" height="600" src="https://live.amcharts.com/ZWFkN/embed/" frameborder="0"></iframe></div>
		<div id="Response_per_country" class="enquete_charts"> <iframe width="100%" height="600" src="https://live.amcharts.com/QwZDU/embed/" frameborder="0"></iframe></div>
		<div id="Type_of_institution" class="enquete_charts"> <iframe width="100%" height="600" src="https://live.amcharts.com/TAxZG/embed/" frameborder="0"></iframe></div>
		<div id="Area_of_research" class="enquete_charts"> <iframe width="100%" height="600" src="https://live.amcharts.com/3N2Q2/embed/" frameborder="0"></iframe></div>
		<div id="Role_or_position" class="enquete_charts"> <iframe width="100%" height="600" src="https://live.amcharts.com/liMjQ/embed/" frameborder="0"></iframe></div>
		<div id="Decision_maker" class="enquete_charts"> <iframe width="100%" height="600" src="https://live.amcharts.com/lNmNj/embed/" frameborder="0"></iframe></div>
		<div id="Actively_work_with" class="enquete_charts"> <iframe width="100%" height="600" src="https://live.amcharts.com/liNGV/embed/" frameborder="0"></iframe></div>
		<div id="How_often_do_you_work_with" class="enquete_charts"> <iframe width="100%" height="600" src="https://live.amcharts.com/lMWVh/embed/" frameborder="0"></iframe></div>
		<div id="Currently_counted" class="enquete_charts"> <iframe width="100%" height="600" src="https://live.amcharts.com/E4MTE/embed/" frameborder="0"></iframe></div>
		<div id="Type_of_well_plates" class="enquete_charts"> <iframe width="100%" height="600" src="https://live.amcharts.com/Nzk1M/embed/" frameborder="0"></iframe></div>
		<div id="Would_you_like_an_automated_DART_device" class="enquete_charts"> <iframe width="100%" height="600" src="https://live.amcharts.com/U2NGV/embed/" frameborder="0"></iframe></div>
		<div id="Budget_for_device" class="enquete_charts"> <iframe width="100%" height="600" src="https://live.amcharts.com/2JjNT/embed/" frameborder="0"></iframe></div>
		<div id="Comfortable_paying" class="enquete_charts"> <iframe width="100%" height="600" src="https://live.amcharts.com/mMxMm/embed/" frameborder="0"></iframe></div>
		<div id="Maximum_surface_area" class="enquete_charts"> <iframe width="100%" height="600" src="https://live.amcharts.com/A4NjM/embed/" frameborder="0"></iframe></div>
		<div id="Use_case" class="enquete_charts"> <iframe width="100%" height="600" src="https://live.amcharts.com/jUzMz/embed/" frameborder="0"></iframe></div>
		<div id="Features" class="enquete_charts"> <iframe width="100%" height="600" src="https://live.amcharts.com/TIyZG/embed/" frameborder="0"></iframe></div>
		</div>
		
				


		<!-- JavaScript is required for the dropdown menu -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery -->
    <script src="js/ddmenu.js" type="text/javascript"></script>
    <script src="js/jquery.js"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="js/bootstrap.js"></script>
    <!-- Javascripts -->
		<script src="controller.js"></script>		
	</body>	
</html>

