<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Verbeterpunten enqu&ecirc;te</title>
	
	<!-- Bootstrap Core CSS -->
	<!--<link href="css/bootstrap.min.css" rel="stylesheet"> -->
	
	
	<!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.min.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	
	<!-- Logo webpagina -->
	<link rel="icon" type="image/png" href="assets/img/BioCentre_logo.png">

<!--	<link rel="icon" type="image/x-icon" href="assets/img/favicon.png"> -->
	<meta name="author" content="Kris Andrada Pereira en Luuk Geurts">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body class="aconclusie_marktonderzoek">
		<!-- Navbar -->
		<a id="ddmenuLink" href="menuBar.html"> Menu </a>
		
		
		<!-- Content -->
		<div class="verslag">
		  <h2 class="title is-2"> Verbeterpunten enqu&ecirc;te </h2>
		    <p>
		      Bij iedere enqu&ecirc;te die afgenomen wordt is het verstandig om op het moment dat er antwoorden binnen komen deze alvast te bekijken. Bij de eerste paar antwoorden hebben wij al een aantal verbeterpunten voor de enqu&ecirc;te gevonden. 
		    </p><br><br>
		    <ul class="elegans">
		      <li><b>Country:</b><br> Nederland is op 4 verschillende manieren genoemd, Engeland op 3 verschillende manieren. Hiervoor hadden we een aantal voorkeurslanden op kunnen geven en een ‘anders’.
 </li><br>
		      <li><b>Area of research:</b><br> Bij de <i> Area of research </i> komt 2 categorieën verschillende keren voor, namelijk: ‘ageing’ en ‘<i>C. elegans </i>’. Hier is het echter niet verstandig om zelf een paar opties te noemen, omdat je dan een lange lijst van moet maken, wat de gebruiksvriendelijkheid en overzichtelijkheid weer aantast.
 </li><br>
          <li><b>How often do you work with <i>C.elegans</i>:</b><br> Bij deze vraag moet er rekening gehouden worden met het feit dat ‘Biweekly’ zowel twee keer per week als om de week kan betekenen. Hoewel het oplopende karakteristiek van de lijst dit in zekere zin wel aangeeft wat ermee bedoeld wordt, konden de respondenten dit toch anders hebben begrepen. </li> <br>
          
          <li><b> How are the <i>C. elegans</i> currently being counted:</b><br>Bij deze vraag komen er maar 3 echt verschillende antwoorden terwijl er 12 verschillende antwoorden gegeven zijn. Bij deze vraag hadden we beter de volgende keuzes kunnen geven: Manually, automated counting device, other. Op deze manier zouden de antwoorden alleen echt in de kern verschillen. </li><br>
          
          <li><b> Would you like an automated development and reproduction analysis device?</b> <br>Bij deze vraag mist er een vervolg ‘Waarom-vraag’.Van beide groepen respondenten is het momenteel niet bekend waarom ze wel of geen automatische telmachine willen hebben. Er was vanuit gegaan dat iedereen het zou willen hebben, omdat dit het proces vergemakkelijkt. Er kunnen echter ook andere beweegredenen bestaan voor het willen aanschaffen van zo’n machine. Daarnaast is zoals gezegd de reden achter de ‘nee-antwoorden’ niet bekend. Het is enkel duidelijk dat het antwoord niet unaniem ‘Ja’ is. </li><br>

          <li><b>What is your budget for such a device?</b><br> Deze enqu&ecirc;te is ook door studenten ingevuld, deze weten mogelijk niet wat het budget zou zijn. Hier de optie ‘I do not know’ toevoegen had ons meer duidelijkheid kunnen verschaffen. </li><br>
          
          <li><b> What features would you like to see?</b> <br>We zijn in zekere mate achter de wensen en behoeften van de gebruikers gekomen met betrekking tot welke features ze in het apparaat willen zien. Echter zijn we niet achter gekomen in hoeverre deze features ook ‘kern features’ zijn. Voor ons betekent dit dat we dus niet weten of de gebruikers nog geïnteresseerd zijn in de <i> HTSS</i>, die momenteel deze features nog niet heeft. </li><br>
          
          <li><b> Algemeen:</b><br> De enqu&ecirc;te is voornamelijk door hogescholen/universiteiten ingevuld. De respondenten geven hierdoor echter maar een beperkt blik van de gehele markt. Organisaties met commerciële doeleinden komen nog niet voor tussen de respondenten. <br><br>

Er moet rekening gehouden worden met het feit dat er antwoorden samengevoegd zijn tijdens het maken van de grafieken. Dit is gedaan omdat de antwoorden met elkaar overeen kwamen, maar op een andere manier geschreven zijn, zoals: Netherlands en The Netherlands. Dit kan als gevolg hebben dat sommige antwoorden samengevoegd werden waar wel een betekenis verschil in zat. Om dit zo goed mogelijk te voorkomen werd voor feedback gevraagd naar de correctheid van de samenvoegingen. Aangezien de oppervlakkigheid van een enqu&ecirc;te, missen we bij onze respondenten de redenen achter hun antwoorden. Hoewel we dus aan kunnen geven <i>wat</i> de mensen willen, kunnen we met geen enkel zekerheid zeggen <i>waarom</i> zij dat willen. </li><br> 

		    </ul>
		</div>








		<!-- JavaScript is required for the dropdown menu -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery -->
    <script src="js/ddmenu.js" type="text/javascript"></script>
    <script src="js/jquery.js"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="js/bootstrap.js"></script>
    <!-- Javascripts -->
		<script src="controller.js"></script>		
	</body>	
</html>

